.DS_Store

# This file should contain the output of $ ssh-add -L from secretive
# and it's different in each computer
ssh/google_compute_engine.pub

# Add IP-addresses which you don't want reveal publicly here
ssh/secret_config

# Cached version of https://github.com/elixir-lang/expert/releases
.bin/expert
