<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GlobalKeyMap</key>
	<dict>
		<key>0x27-0x40000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>11</string>
		</dict>
		<key>0x2d-0x40000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>1A</string>
		</dict>
		<key>0x61-0x40000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>01</string>
		</dict>
		<key>0x63-0x40000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>09
09
09</string>
		</dict>
		<key>0x64-0x40000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>04</string>
		</dict>
		<key>0x65-0x40000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>04</string>
		</dict>
		<key>0x67-0x40000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>07</string>
		</dict>
		<key>0x68-0x40000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>0A</string>
		</dict>
		<key>0x69-0x40000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>06</string>
		</dict>
		<key>0x6a-0x40000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>03</string>
		</dict>
		<key>0x6b-0x40000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>16</string>
		</dict>
		<key>0x6c-0x40000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>19</string>
		</dict>
		<key>0x6e-0x40000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>0C
0C
0C</string>
		</dict>
		<key>0x6f-0x40000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>19</string>
		</dict>
		<key>0x71-0x40000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>18</string>
		</dict>
		<key>0x72-0x40000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>0F</string>
		</dict>
		<key>0x73-0x40000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>13</string>
		</dict>
		<key>0x74-0x40000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>0B
0B
0B</string>
		</dict>
		<key>0x75-0x40000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>07</string>
		</dict>
		<key>0xf700-0x220000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf700-0x300000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>7</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf701-0x220000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf701-0x300000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>6</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf702-0x300000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>2</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf702-0x320000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>2</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf703-0x300000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>0</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf703-0x320000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>0</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf729-0x100000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>5</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72b-0x100000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>4</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x100000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>7</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x80000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>7</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x100000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>6</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x80000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>6</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
