<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FLPaddleDidMigrateLicense</key>
	<true/>
	<key>HotKeyCode</key>
	<integer>49</integer>
	<key>HotKeyModifierKey</key>
	<integer>1572864</integer>
	<key>MSAppCenter310AnalyticsUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenter310AppCenterUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenter310CrashesUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenterInstallId</key>
	<string>47163519-F073-4291-97F9-4CF22888DC8F</string>
	<key>MenuHotKeyCode</key>
	<integer>49</integer>
	<key>MenuHotKeyModifierKey</key>
	<integer>393216</integer>
	<key>Paddle-CopyClip 2-493500-SD</key>
	<string>6c35523e0281b1fb4f8ea00dc488811a2a2f792258f141a262f152d3c732bbd2</string>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>com.fiplab.flcore.firstLaunch</key>
	<true/>
	<key>com.fiplab.flcore.lastUpdateVersion</key>
	<string>2.9.99.1</string>
	<key>com.fiplab.flcore.totalLaunches</key>
	<integer>2</integer>
	<key>com.fiplab.flcore.updateLaunches</key>
	<integer>2</integer>
	<key>com.fiplab.flcore.updates</key>
	<true/>
	<key>startAtLogin</key>
	<true/>
</dict>
</plist>
