<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2023-01-11T18:06:04Z</date>
	<key>alternateDefaultShortcuts</key>
	<true/>
	<key>bottomHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>36</integer>
		<key>modifierFlags</key>
		<integer>1310720</integer>
	</dict>
	<key>bottomLeft</key>
	<dict>
		<key>keyCode</key>
		<integer>115</integer>
		<key>modifierFlags</key>
		<integer>1310720</integer>
	</dict>
	<key>bottomRight</key>
	<dict>
		<key>keyCode</key>
		<integer>119</integer>
		<key>modifierFlags</key>
		<integer>1310720</integer>
	</dict>
	<key>landscapeSnapAreas</key>
	<string>[7,{"compound":-4},8,{"action":14},2,{"action":2},3,{"action":16},5,{"compound":-3},1,{"action":15},4,{"compound":-2},6,{"action":13}]</string>
	<key>lastVersion</key>
	<string>70</string>
	<key>launchOnLogin</key>
	<true/>
	<key>leftHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>123</integer>
		<key>modifierFlags</key>
		<integer>1310720</integer>
	</dict>
	<key>maximize</key>
	<dict>
		<key>keyCode</key>
		<integer>125</integer>
		<key>modifierFlags</key>
		<integer>1310720</integer>
	</dict>
	<key>rightHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>124</integer>
		<key>modifierFlags</key>
		<integer>1310720</integer>
	</dict>
	<key>subsequentExecutionMode</key>
	<integer>1</integer>
	<key>topHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>126</integer>
		<key>modifierFlags</key>
		<integer>1310720</integer>
	</dict>
	<key>topLeft</key>
	<dict>
		<key>keyCode</key>
		<integer>116</integer>
		<key>modifierFlags</key>
		<integer>1310720</integer>
	</dict>
	<key>topRight</key>
	<dict>
		<key>keyCode</key>
		<integer>121</integer>
		<key>modifierFlags</key>
		<integer>1310720</integer>
	</dict>
</dict>
</plist>
